*::-webkit-scrollbar {
    height: .5rem;
    width: 1rem;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--black);
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: bisque;
}

h1 {
    padding: 10px;
    color: sienna;
}

.header {
    padding: 80px;
}

.header1 {
    border-bottom: .2rem solid rgba(0, 0, 0, .1);
}

.header1 a {
    font-size: 20px;
}

.header .nav a {
    margin: 0 1rem;
    font-size: 1rem;
    color: var(--black);
}

.dipart {
    background-color: navajowhite;
    border-radius: 10px;
    padding: 10px;
}

.depart table {
    text-align: left;
    background-color: black;
}