@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@500&display=swap');
*::-webkit-scrollbar {
    height: .5rem;
    width: 1rem;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--black);
}

section {
    font-family: 'Ubuntu';
    justify-content: center;
    height: 100vh;
    align-items: center;
    padding: 20vh;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: bisque;
}

h1 {
    padding: 10px;
    color: sienna;
}

.header {
    padding: 80px;
}

.header1 {
    border-bottom: .2rem solid rgba(0, 0, 0, .1);
}

.header1 a {
    font-size: 20px;
}

.header .nav a {
    margin: 0 1rem;
    font-size: 1rem;
    color: var(--black);
}

.dipart {
    background-color: navajowhite;
    border-radius: 10px;
    padding: 10px;
}

.dipart table {
    background-color: black;
    text-align: left;
}

.dipart table div {
    border: solid 4px rgb(39, 39, 39);
    background-color: rgb(0, 0, 0);
    float: left;
    height: 40px;
}

.dipart table td {
    color: white;
}

#time {
    width: 100px;
}

#destination {
    width: 260px;
}

#flight {
    width: 205px;
}

#gate {
    width: 135px;
}

#remarks {
    width: 300px;
}

.flip {
    animation: 0.5s linear flipping;
}

@keyframes flipping {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotateX(90deg)
    }
    100% {
        transform: rotate(0deg);
    }
}